.section-wrapper-business {
  width: 100%;
  background-color: #f1f3f5;
}

#business-aid--section {
  margin-top: 10rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  width: 100%;
  max-width: 140rem;
  margin: 5rem auto;

  padding: 5rem;
}

.business-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.business-info h3 {
  font-size: 3rem;
  color: #444;
}
.business-info h3:nth-child(2) {
  color: #4cae4f !important;
}
.business-info p {
  font-size: 1.8rem;
}

.business-layout {
  display: flex;
  gap: 5rem;
}

.business-layout img {
  width: 100%;
  max-width: 6rem;
  transform: scale(0.8);
}
.club-icon {
  transform: scale(1) !important;
}

.business-upper,
.business-lower {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.business-inner {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.business-inner strong {
  font-size: 2.5rem;
  color: #444;
}
.business-inner p {
  font-size: 1.8rem;
  margin-top: 1rem;
  color: #666;
  margin-bottom: 0rem !important;
}
