.carousel-content--container {
  width: 100%;
  padding: 8rem 0rem;
  margin-top: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #f1f3f5 90%, #ced4da);
}

.carousel-content--container div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 45rem;
}

.carousel-content--container div h1 {
  font-size: 4rem;
  color: #555;
}
h1 span {
  color: #4caf4f;
}

.carousel-content--container div p {
  font-size: 1.4rem;
  color: #555;
}

.carousel-content--container div h1:nth-child(2) {
  color: #4caf4f !important;
}

.carousel-content--container div a {
  background-color: rgb(76, 174, 79);
  color: #fff;
  font-size: 1.8rem;
  border-radius: 5px;
  width: 100%;
  max-width: 12rem;
  text-align: center;
  padding: 1.6rem 0rem;
}

.carousel-content--container img {
  width: 100%;
  max-width: 32rem;
  object-fit: cover;
}

.carousel-indicators li {
  height: 1rem !important;
  width: 1rem !important;
  border-radius: 50% !important;
  background-color: rgba(76, 174, 79, 0.5) !important;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}
