#login-about--section {
  margin-top: 10rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  max-width: 140rem;
  margin: 5rem auto;
}

#login-about--section div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 50rem;
}

#login-about--section div h3 {
  font-size: 3rem;
  margin: 0rem !important;
  color: #444;
}
#login-about--section div p {
  font-size: 1.8rem;

  color: #555;
}

#login-about--section div a {
  background-color: #4cae4f;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 5px;
  width: 100%;
  max-width: 15rem;
  text-align: center;
  padding: 1.6rem 2rem;
}
