#marketing-section {
  margin: 10rem 0rem;

  text-align: center;

  /* gap: 15rem; */

  width: 100%;
  max-width: 140rem;
  margin: 5rem auto;
}

#marketing-section h3 {
  font-size: 3rem;
  color: #555;
}
#marketing-section p {
  font-size: 1.4rem;
  color: #555;
  width: 100%;
  max-width: 55rem;
  margin: 2rem auto;
}

.marketing-layout {
  display: flex;
  gap: 2rem;
}

.marketing-layout img {
  width: 100%;
  object-fit: contain !important;
}

.marketing-inner {
  position: relative;
}
.marketing-bubble {
  background-color: #f1f3f5;
  width: 100%;
  max-width: 28rem;
  position: absolute;
  bottom: -3.5rem;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  padding: 0rem 2rem 2rem 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.marketing-bubble p {
  font-size: 1.8rem !important;
  font-weight: 500;
}
.marketing-bubble a {
  color: #4cae4f;
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 1rem;
}
